.tugg-logo-name{
  color:white;
  font-family: Impact;
  font-size: 48px;
}

.tugg-logo-container{
  color: white;
  font-family: Georgia;
}

.col-xs-12{
  color:white;
  font-family: Georgia;
  font-size: 18px;
}

.pointer{
  color: white;
  
}
